.bakery-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem;
}

.text-center {
  text-align: center;
}

.single-bakery-item {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg-color-1);
  padding: 0.75rem 0.75rem 1.5rem 0.75rem;
  border-radius: 8px;
  position: relative;
}

.bakery-item_cover_photo_img {
  height: 14rem;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.bakery-item_title {
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.2rem;
}

.bakery-item_desc {
  text-align: center;
  font-size: 1.1rem;
}

.bakery-item-btn-container {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  height: 100%;
  padding-top: 1rem;
}

.bakery-item-btn-invisible {
  visibility: hidden;
}

.single-bakery-item:hover .bakery-item-btn-invisible {
  visibility: visible !important;
}

@media only screen and (min-width: 550px) {
  .bakery-items {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .bakery-items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .bakery-items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
