.header {
  background-color: var(--primary-bg-color-3);
}

.header-wrapper {
  position: relative;
  display: flex;
  padding: 0.25rem 1rem;
}

.header-title {
  text-transform: uppercase;
  color: var(--primary-bg-color-4);
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 1.5rem;
  letter-spacing: 3px;
  bottom: 3px;
}

.header-cart_wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}

.header-cart_img {
  margin: 4px;
  height: 32px;
  cursor: pointer;
}

.header-cart_qty_wrapper {
  width: 24px;
  height: 24px;
  margin-left: -0.75rem;
}

.header-cart_qty {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--primary-bg-color-4);
  color: var(--secondary-text-color-1);
  width: 24px;
  height: 24px;
  background-color: brown;
}

.header-order-banner {
  color: var(--secondary-text-color-1);
  padding: 1rem;
}

.header-order-banner_msg {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .header-title {
    font-size: 2.5rem;
  }
}
