:root {
  --primary-bg-color-1: #ffffff;
  --primary-bg-color-2: #f8f5ef;
  --primary-bg-color-3: #d1abb3;

  --secondary-text-color-1: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.bakery-app {
  background-color: var(--primary-bg-color-2);
}

.bakery-items-container {
  padding: 0.75rem;
}
